<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery-3.1.1.min.js"><\/script>')</script>
<script>if (window.module) module = window.module;</script>
 
  
	<div id="options" class="optionsHide" style="display:none;">
		 

		<form>
		<div class="optionsParameters">
		<p>
			<!-- The host of our backend service. -->
			<label>Host</label>
			<input type="text" id="host" class="host" value="prod.vidyo.io">
		</p>
		<p>
			<!-- A token that is derived from the deveoper key assigned to your account which will allow access for this particular instance.
			The token will contain its expiration date and the user ID.
			For more information visit the developer section of http://vidyo.io -->
			<label>Token</label>
			<input type="text" id="token" class="token" placeholder="ACCESS-TOKEN" value="{{ token }}">
		</p>
		<p>
			<!-- This is the display name that other users will see.
			-->
			<label for="displayName">Display Name</label>
			<input id="displayName" class="displayName" type="text" placeholder="Display Name" value="{{ current_user_name }}">
		</p>
		<p>
			<!-- This is the "room" or "space" to which you're connecting
			the user. Other users who join this same Resource will be able to see and hear each other.
			-->
			<label for="resourceId">Resource ID</label>
			<input id="resourceId" class="resourceId" type="text" placeholder="Conference Reference" value="{{ resource_id }}">
		</p>
		</div>
		<p>
			<!-- On page load, this input is filled with a list of all the available cameras on the user's system. -->
			<label for="cameras">Camera</label>
			<select id="cameras">
				<option value='0'>None</option>
			</select>
		</p>
		<p>
			<!-- On page load, this input is filled with a list of all the available microphones on the user's system. -->
			<label for="microphones">Microphone</label>
			<select id="microphones">
				<option value='0'>None</option>
			</select>
		</p>
		<p>
			<!-- On page load, this input is filled with a list of all the available microphones on the user's system. -->
			<label for="speakers">Speaker</label>
			<select id="speakers">
				<option value='0'>None</option>
			</select>
		</p>
		</form>
		<div id="messages">
			<!-- All Vidyo-related messages will be inserted into these spans. -->
			<span id="error"></span>
			<span id="message"></span>
		</div>
	</div>

	<div id="helper">
		<table>
			 
			<tr>
				<td id="helperText"> </td>
			</tr>
			<tr id="helperPicker">
				<td>
					<table>
						<tr>
							 
								 
								<div class="helperFooter" id="myBtn">
									<a href="javascript:joinViaBrowser()">Connect</a>
								</div>
							 
							 

						</tr>
					</table>
				</td>
			</tr>
			 
		</table>
	</div>

	
	<!-- This is the div into which the Vidyo component will be inserted. -->
   <div id="openContainer" class="modal">
	<div id="rendererContainer" class="hidden" class="modal-content">
		<div id="renderer0" class="pluginOverlay"> </div>
		<div id="renderer1" class="pluginOverlay"> </div>
		<div id="renderer2" class="pluginOverlay"> </div>
		<div id="renderer3" class="pluginOverlay"> </div>
		<div id="renderer4" class="pluginOverlay"> </div>
		<div id="renderer5" class="pluginOverlay"> </div>
		<div id="renderer6" class="pluginOverlay"> </div>
		<div id="renderer7" class="pluginOverlay"> </div>
		<div id="renderer8" class="pluginOverlay"> </div>
	</div>
	 
	<div id="toolbarCenter" class="toolbar hidden">
		<!-- This button toggles the camera privacy on or off. -->
		<button id="cameraButton" title="Camera Privacy" class="toolbarButton cameraOn"></button>

		<!-- This button joins and leaves the conference. -->
		<button id="joinLeaveButton" title="Join Conference" class="toolbarButton callStart"></button>

		<!-- This button mutes and unmutes the users' microphone. -->
		<button id="microphoneButton" title="Microphone Privacy" class="toolbarButton microphoneOn"></button>
	</div>
	<div id="toolbarRight" class="toolbar hidden">
		<span id="connectionStatus">Initializing</span>		 
	</div>
	 
   </div>
	
	<div id="failed" class="hidden">
		<table>
			<tr>
				<td><img class="logo" src="Images/VidyoIcon.png"/></td>
			</tr>
			<tr>
				<td id="failedText">Error</td>
			</tr>
		</table>
	</div>